h1 {  
font-family: "bauhaus 93", sans-serif;
font-weight: 350
}
h1 {
color: darkcyan
}
h1 {
border-style: groove
}
body {
background-color: aliceblue
}
body {
    font-family: "Helvetica Neue Light", sans-serif;
    color: darkturquoise
}